.services-container {
    background-color: #010a13;
    color: #f0f0f0;
    font-family: 'Inter', sans-serif;
}

.service-img {
    width: 80px;
    height: 45px;
    object-fit: cover;
    border-radius: 4px;
    border: 1px solid #C8AA6E50;
}
